body {
  background-color: lightgrey;
}

.container {
  width: 100%;
}

#header {
  background-color: #ffffb3;
  text-align: center;
  padding: 40px 0 50px 0;
}

h1 {
  font-size: 60px;
}


#sidebar {
  background-color: #8CCA7A;
  padding-bottom: 100%;
  padding-left: 30px;
  padding-top: 15px;
}

#sidebar, #mainBody {
  margin-top: 25px;
}

#mainBody {
  padding-top: 20px;
  padding-left: 40px;
}

.btn {
  background-color: darkgrey;
}

#mainBody h2 {
  margin-top: 20px;
}

.subsections {
  color: #ffffb3;
}

h5 {
  color: white;
}
