body {
  background-color: lightgrey;
}

img {
  width: 10%;
  margin-left: 40px;
  margin-right: 40px;
}

.container {
  width: 100%;
}

#header {
  background-color: #ffffb3;
  text-align: center;
  padding: 40px 0 50px 0;
}

h1 {
  font-size: 60px;
}


#sidebar {
  background-color: #8CCA7A;
  padding-bottom: 100%;
  padding-left: 30px;
  padding-top: 15px;
}

#sidebar, #mainBody {
  margin-top: 25px;
}

#mainBody {
  padding-top: 20px;
  padding-left: 40px;
}

.btn {
  background-color: darkgrey;
}

#mainBody h2 {
  margin-top: 20px;
}

.subsections {
  color: #ffffb3;
  font-size: 20px;
}

h5 {
  color: white;
  padding-bottom: 10px;
}

.form-group {
  width: 250px;
}
